
  
 /* .create-coursebutton { 
    display: inline-block;
      outline: none;
      cursor: pointer;
      text-align: center;
      text-decoration: none;
      box-shadow: 0;
      background-color: white;
          border-radius:5px;
          margin-bottom: 2rem;
          height: 30px;
          padding: .5em 2em .55em;
          height: 40px;
          text-align:center;
          border-width: 2px;
        }
      
  .cancelnewcoursebutton{
    display: inline-block;
      outline: none;
      cursor: pointer;
      text-align: center;
      text-decoration: none;
      box-shadow: 0 1px 1px;
      background-color: white;
          border-radius: 5px;
          margin-bottom: 2rem;
          height: 30px;
          padding: .5em 2em .55em;
          height: 40px;
          border-width: 2px;
          
  }
  .cancelnewcoursebutton:active {
      position: relative;
      top: 1px;
  background:  rgb(235, 235, 235)  

  
  }

  .createnewcoursebutton:active {
      position: relative;
      top: 1px;
  background:  rgb(235, 235, 235)  

  }
  .createnewcoursebutton{
      display: inline-block;
      outline: none;
      text-align: center;
      text-decoration: none;
      cursor: pointer;
      background-color: white;
      box-shadow: 0 1px 1px;
          border-radius: 5px;
          margin-bottom: 2rem;
          height: 30px;
          padding: .5em 2em .55em;
          height: 40px;
          margin-right: 15px;
          border-width: 2px;
        }*/
 .carousel-caption label
{
    color:black;
    font-weight: bold;
}
.container-assignment label {
    color:black;
    font-weight: bold;
  }

 .assignment-banner{
    background-color: #6AD1FA;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
  }


 /* .assigenment-banner{
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
    /*  padding: 16px;
      text-align: center;
      margin-top: -25px;
      margin-bottom: 45px;
      margin-left: -50px;
      margin-right: -50px;
      background-color: #1391B9 ;
      font-size: medium;
      border-radius: 5px;
      color: white;
  }  */
  
  .question
  {
    border-radius: 5px;
    padding: 8px;
    background-color: #E3E2DF
  }

  .question label{
    font-style: italic;
    color: var(--darkest-blue);
    padding: 8px;
    margin-top: 8px;
   
  }

  .question input{
    border:1px solid var(--darkest-blue);
    
  }

  .question textarea{
    border:1px solid var(--darkest-blue);
  }

  

   