.chat-banner{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
   padding: 16px;
   text-align: center;
   margin-top: -25px;
   margin-bottom: 45px;
   margin-left: -50px;
   margin-right: -50px;
   background-color: #2E9CCA ;
   font-size: medium;
   border-radius: 5px;
   color: #fff;
}


/*Styling for the Chat page */
.chatbox{
    background-color:white;
    margin: auto;
    margin-bottom: 20px; 
    width: 97%; 
    height: 410px; 
    overflow-x: hidden; 
    overflow-y: auto; 
    text-align:justify;   
}

.chat-page-column {
    float: left;
    width: 50%;
    padding: 0 25px;
}

.chat-page-row:after {
    content: "";
    display: table;
    clear: both;
  }

.message-sender {

    padding: 4px;
    font-size: 13px;
    
  }
  .message-sender em{
    font-size: 80%;
    margin-right: 5px;
  }
  


.message-box {
    background-color: #2c96d4;
  border-radius: 6px 0 6px 0; 
  background: rgba(100, 170, 0, .2);
  color: #3706e9;
  font-size: 13px;
  padding: 5px;
  clear: both; 
  margin-bottom: 0px;
 
  }

 
 
  .chatblock {
    margin: auto;
  }

  .chatContainer {
    padding-top: 15px;
    margin: 20px;
  }
  .me:before {
     content: "";
    border: 12px solid transparent;
    border-bottom: 15px solid rgba(100, 170, 0, .2); 
    border-right: none; 
    left: -20px;
  }

  .me{
    text-align: right;

  }

  
  .them{
    text-align: left;
  }
.them:before{
    content: "";
    border: 12px solid transparent;
    border-bottom: 13.5px solid rgba(100, 170, 0, .2); 
    margin-left: 14px ;
    border-right: none;
 
}
  

  .container img.right {
    margin-left: 10px;
    margin-right:12px;
  }

.avatarstyle {
    max-width: 40px;
    margin-right: 10px;
    border-radius: 50%;
    margin-bottom: 7px;
  }

  

.forumCard{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8);
    /* background-color: #E55A71; */
    background-color: #98c4dd;
    padding: 20px 10px 0px 10px;
    margin-left: -70px;
}


/*Styling for the Forum comp */
    .forumbox{
        background-color: aliceblue;
        margin: auto;
        margin-bottom: 20px; 
        padding:15px, 15px, 15px; 
        width: 97%; 
        height: 410px; 
        overflow-x: hidden; 
        overflow-y: auto; 
        text-align:justify; 

    }

    .question-card{
        background-color: white;
        padding: 0px 10px;
        margin-bottom: 15px;
    }

    .comment-card{
        background-color: white;
        padding: 0px 2px;
        margin-bottom: 12px;
        margin-left: 12px;
    }

    .question-button{
        background-color: white;
        float: right;
        border: transparent;
        padding: 0px 8px;
    }
    .send-button{
        
        background-color: white;
        border: transparent;
        padding: 0px 8px;
        width:10;
    }
    
    .forum-input{
        margin-right: 10px;
    }

    .forum-title{
        color: white;
    }

    .forum-submit{
        margin-bottom: 10px;
        padding: 6px;
        border: transparent;
        border-radius: 5px;
        float: right;
    }
    
    .forum-textArea{
        padding: 0px 2px; 
    }
    .forum-questionForm{
        /* background-color: #fd9eae; */
        background-color: #2c96d4;
        margin-left: -10px;
        margin-right: -10px;
        padding-left: 20px;
        padding-top: 10px;
    }


    /*Styling for the Chat comp */
.chat-inputform{
    background-color: #86bbda;
    margin-left: -10px;
    margin-right: -10px;
    padding-left: 20px;
    padding-top: 10px;
    height: 100px;
}

.chat-input{
    padding: 40px 40px; 
    width: 90px;
}

.chatCard{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8);
    background-color: #2c96d4;  
    padding: 20px 10px 0px 10px;
    margin-right: -70px;
}

.chat-title{
    color: white;
    margin-top: -25px;
}

.chat-submit{
    margin-top: 2px;
    margin-bottom: 13px;
    margin-left: -12.5px;
    margin-right:14px ;
    padding: 6px;
    width: 60px;
    height: 50px;
    float: right;
    align-items: right ;
    background-color: #86bbda;
    align-items: center;
    border: none;
}
.chat-submit-icon{
    color: white;
}
    


@media (max-width: 767px) {
    .chat-page-column {
        width: 100%;
        padding: 0 25px;
    }

    .forumCard{
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8);
        background-color: #86bbda;
        padding: 30px 20px 0px 20px;
        margin-bottom: 80px;
        margin-left: auto;
        
    }

    .chatCard{
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8);
   
        padding: 30px 20px 0px 20px;
        margin-right: auto;

    }
}
