/*-----------------Course Page CSS ----------- */
.row-buttons {
    text-align:left;

  }
  
  .description {
    text-align:center;

  }

  img {
   width: 100%;

  }

  
  
  .course-card {
   width:160px;
  padding-bottom: 15px;
  text-align:center;
  
  margin-bottom: 3rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px; 
  border-width: 2px;
  text-align: center;
  justify-content: space-around; 
 border-style:ridge;

  }
  
 .course-card-form-title{
  color: rgba(20, 19, 19, 0.781);

padding: 15px 25px 35px;
 text-align: center;
 }
 .course-create-form{
   text-align: center;
 background-color: #E3E2DF;
  border-radius: 5px;
  padding: 20px;
}

.input-update{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}


  .course-form-buttons{
    margin-top: 20px;
  }
  .course-card-body{
    text-align: center;

  }

  .courseheader{
    text-align: center;
    background-color:white;
    color: rgb(43, 17, 17); 
  }
 
.courseimage{
    background-color:#bbccd3e3;
    height: 120px;
  }

  .create-deleteButton {
    margin-right:2rem; 
    width:30px;
    background-color: transparent;
    border: 0px;
    
  }
  .create-deleteButton:hover{
    box-sizing: border-box;
  

  }
  .create-updateButton {
    width:30px;
    background-color: transparent;
    border: 0px;
  }
  
  .create-updateButton:hover{
    box-sizing: border-box;
   
  }

  .updateButtoncourse{
    background-color: white;
    border-radius: 5px;
    padding: 2px;
    margin-right: 4px;
  }

  .updateCancelButtoncourse{
    background-color: white;
    border-radius: 5px;
    padding: 2px;
  }


  

.create-coursebutton { 
  display: inline-block;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
  box-shadow: 1px;
  background-color: white;
        border-radius:5px;
        margin-bottom: 2rem;
        height: 30px;
        border-width: 2px;
       padding: .5em 2em .55em;
       height: 40px;
      font-weight: 400;
      text-align:center;
      }
      .create-coursebutton:active{
        background:  rgb(235, 235, 235);
      }
    
    
.cancelnewcoursebutton{
  display: inline-block;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
  box-shadow: 0 1px 2px;
  background-color: white;
        border-radius:5px;
        margin-bottom: 2rem;
        height: 30px;
       padding: .5em 2em .55em;
       height: 40px;
      font-weight: 400;
      border-width: 2px;
}
.cancelnewcoursebutton:active {
	position: relative;
	top: 1px;
  background:  rgb(235, 235, 235)  


}
.createnewcoursebutton:active {
	position: relative;
  top: 1px;
  background:  rgb(235, 235, 235)  

  
  
}
.createnewcoursebutton{
  display: inline-block;
	outline: none;
	text-align: center;
	text-decoration: none;
	cursor: pointer;
  background-color: white;
  box-shadow: 0 1px 2px;
        border-radius:6px 6px;
        margin-bottom: 2rem;
        height: 30px;
        padding: .5em 2em .55em;
        height: 40px;
        font-weight: 400;
        margin-right: 15px;
        border-width: 2px;
      }

.course-banner{
     box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
    padding: 16px;
    text-align: center;
    margin-top: -25px;
    margin-bottom: 45px;
    margin-left: -50px;
    margin-right: -50px;
    background-color: #E55A71;
    font-size: medium;
    border-radius: 5px;
    color: white;
}     
  
  .course-container {
    text-align: right;
  
  }
  .course-grid {
    display: flex; 
    flex-direction: column;
    justify-content: space-around; 
    flex-flow: wrap; 
    
  } 


  

  @media(max-width:1100px){
    
    .course-grid{
      text-align: center;
    
    }
    .course-card {
      margin:0;
      margin-bottom: 1rem;
    }
    .row-buttons {
      text-align:left;
      
    }

  }

  @media screen and (max-width: 750px){
    .course-grid{
    justify-content: space-around;
  }
}
  @media screen and (max-width: 400px) {
    .course-grid{
      text-align: center;
     display: grid;
     grid-template-columns: 1fr;
     
    }
    .course-container{
     text-align: center;
    } 
    }