.lecture-banner {
    margin-left: 0;
    margin-top:0;
    margin-right: 0;
}

.iconDelete {
    text-align: center;
}

.videoLayout {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap:10px; 
  float: left;
  width: 40%; 
  /* padding: 0 10px;
  padding-bottom: 25px;  */
}

.lecture-details {
    margin-top:3rem;
    background-color:#6AD1FA; 
}
  
.lectures-title {
    text-align:left;
    color:white;
    font-size:24px;
    font-weight:600;
    padding-top:1rem;
    padding-left:1rem;
}
  
.buttonCheck {
    background-color:#FFFFF3;
}
  
.check {
    background-color:#E55A71;
}
  
.course-details {
    margin:3rem;
}
  
.course-details-description {
    padding: 16px;
    text-align: center;
    margin-top: -25px;
    margin-bottom: 45px;
    margin-left: -50px;
    margin-right: -50px;
    background-color: #6AD1FA;
    font-size: medium;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
  
.course-details-section {
    margin:0 auto;
}
  
.lectures-line {
    background-color:white;
}
  
 
@media (max-width: 750px) {
    .container {
        margin:0 auto;
    }
}