.wrapper {
	background: linear-gradient(-45deg, #F7DC6F,  #F9E79F,#F4D03F , #FEF9E7);
	background-size: 400% 400%;
	animation: gradient 10s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}