
images figcaption {
    line-height: 30px;
    border-radius: 10px;
    bottom: -100px;
    padding: 5px;
    font-weight:bold;
    font-size: medium;
    text-align: center; 
    color: gray; 

  
  }
  figcaption:hover {
    color: rgb(175, 60, 6);
  }

 a {
    color:#585353f6;
  
  }
  figcaption:visited{
    color:gray
  }
  figcaption:active{
    color:gray;
  }
  
  .images{
   /* display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      margin-left:3px;
      justify-content: space-around;*/
    display: flex; 
    flex-direction: row;
    justify-content: space-between; 
    flex-flow: wrap;
    text-align: center;

  
  } 
  
  div.images img{
    border-radius: 15px;
    width: 230px;
    height: 220px;
    padding: 2px; 
    box-shadow:0 0 40px -10px rgba(0,0,0,0.25);
  
   
  }
  .images figure {
    position: relative;
    margin-bottom: 0;
  
  }
  .resourse-banner{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
   padding: 16px;
   text-align: center;
   margin-top: -25px;
   margin-bottom: 45px;
   margin-left: -50px;
   margin-right: -50px;
   background-color:#6AD1FA ;
   font-size: medium;
   border-radius: 5px;
   color: rgb(12, 5, 92);
}     
 .horizontalline{
       padding: 2px;
   background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgb(145, 140, 140), rgba(0,0,0,0)); 
   background-image: -moz-linear-gradient(left, rgba(0,0,0,0),rgb(180, 173, 173), rgba(0,0,0,0)); 
   background-image: -ms-linear-gradient(left, rgba(0,0,0,0), rgb(180, 173, 173), rgba(0,0,0,0)); 
    background-image: -o-linear-gradient(left, rgba(0,0,0,0), rgb(145, 140, 140), rgba(0,0,0,0)); 
  box-shadow: 0px 1px 0px rgba(94, 92, 92, 0.918);

  margin-top: -25px;
  margin-bottom: 45px;
  margin-left: -50px;
  margin-right: -50px
 }
 .resourseimg figure{
   margin-bottom: 30px;
 }
 
  @media screen and (max-width: 414px) {
    div.images{
      width:40%;
      margin:5px;
     display: grid;
     grid-template-columns: 1fr;
     row-gap: 4px;
        
    }
    .images figure {
        text-align: center;
    }
  }