.sheduler-banner{
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
       padding: 16px;
       text-align: center;
       margin-top: -25px;
       margin-bottom: 45px;
       margin-left: -50px;
       margin-right: -50px;
       background-color: #1391B9 ;
       font-size: medium;
       border-radius: 5px;
       color: white;
   }     
     
   .schedular-card{
     background-color: #1391B9;
     padding: 1px;
     margin-top: 45px;
     margin-bottom: 40px;
     border-radius: 5px;
     
   }
