.sheduler-banner{
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
       padding: 16px;
       text-align: center;
       margin-top: -25px;
       margin-bottom: 45px;
       margin-left: -50px;
       margin-right: -50px;
       background-color: #1391B9 ;
       font-size: medium;
       border-radius: 5px;
       color: white;
   }     
     .horizontalline{
           padding: 2px;
       background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgb(145, 140, 140), rgba(0,0,0,0)); 
       background-image: -moz-linear-gradient(left, rgba(0,0,0,0),rgb(180, 173, 173), rgba(0,0,0,0)); 
       background-image: -ms-linear-gradient(left, rgba(0,0,0,0), rgb(180, 173, 173), rgba(0,0,0,0)); 
        background-image: -o-linear-gradient(left, rgba(0,0,0,0), rgb(145, 140, 140), rgba(0,0,0,0)); 
      box-shadow: 0px 1px 0px rgba(94, 92, 92, 0.918);
   
     
      margin-bottom: 45px;
      
      
     }

   .schedular-card{
     background-color: #1391B9;
     padding: 2px;
     margin-bottom: 40px;
     border-radius: 5px;
     
   }
