.videoLayout {
  float: left;
  width: 25%; 
  padding: 0 10px;
  padding-bottom: 25px; 
}

.lecture-banner{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
 padding: 16px;
 text-align: center;
 margin-top: -25px;
 margin-bottom: 45px;
 margin-left: -50px;
 margin-right: -50px;
 background-color:#2E9CCA;
 font-weight:500;
 font-size: calc(10px + 2vmin);
 border-radius: 5px;
 color: #fff;
}     


.upload-video-title {
  color:black;
  text-align:left;
  font-weight:500;
  padding-top:1rem;
  font-size: calc(10px + 2vmin);
  padding-left:1rem;
}

.course-name {
  margin-left:1rem;
  color:black;
}

.videoLayout {
  margin-bottom:1.6rem;
}

.break-line {
  color:white;
}

.class-videos {
  display:flex;
  flex-direction:column;
}

/* Responsive columns - one column layout (vertical) on small screens */
@media (max-width: 750px) {
  .videoLayout {
    display: inline;
    float: left;
    width: 25%;
    padding: 0 10px;
    margin-bottom: 20px;
    padding-bottom: 25px;
  }
  .course-name {
    text-align:center;
  }
}

@media screen and (max-width: 600px) {
  .videoLayout {
    display: inline;
    float: left;
    width: 35%;
    padding: 0;
    margin-bottom: 20px;
    margin-left: 60px;
    padding-bottom: 25px;
  }
}

@media screen and (max-width: 420px) {
  .videoLayout {
    display: inline;
    float: left;
    width: 50%;
    padding: 0;
    margin-bottom: 20px;
    margin-left: 120px;
    padding-bottom: 25px;
  }
}
