.videoLayout {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap:10px; 
  float: left;
  /* width: 25%; */
  /* padding: 0 10px;
  padding-bottom: 25px;  */
}

.upload-video-title {
  color:white;
  text-align:left;
  font-weight:600;
  padding-top:1rem;
  padding-left:1rem;
}
/* Responsive columns - one column layout (vertical) on small screens */
@media (max-width: 750px) {
  .videoLayout {
    display: inline;
    float: left;
    width: 25%;
    padding: 0 10px;
    margin-bottom: 20px;
    padding-bottom: 25px;
  }
}

@media screen and (max-width: 600px) {
  .videoLayout {
    display: inline;
    float: left;
    width: 35%;
    padding: 0;
    margin-bottom: 20px;
    margin-left: 60px;
    padding-bottom: 25px;
  }
}

@media screen and (max-width: 420px) {
  .videoLayout {
    display: inline;
    float: left;
    width: 50%;
    padding: 0;
    margin-bottom: 20px;
    margin-left: 120px;
    padding-bottom: 25px;
  }
}
