.videoLayout {
  float: left;
  width: 25%;
  padding: 0 10px;
  padding-bottom: 25px;
}

/* Responsive columns - one column layout (vertical) on small screens */
@media (max-width: 750px) {
  .videoLayout {
    display: inline;
    float: left;
    width: 25%;
    padding: 0 10px;
    margin-bottom: 20px;
    padding-bottom: 25px;
  }
}

@media screen and (max-width: 600px) {
  .videoLayout {
    display: inline;
    float: left;
    width: 35%;
    padding: 0;
    margin-bottom: 20px;
    margin-left: 60px;
    padding-bottom: 25px;
  }
}

@media screen and (max-width: 420px) {
  .videoLayout {
    display: inline;
    float: left;
    width: 50%;
    padding: 0;
    margin-bottom: 20px;
    margin-left: 120px;

    padding-bottom: 25px;
  }
}
