.videoLayout {
  float: left;
  width: 25%; 
  padding: 0 10px;
  padding-bottom: 25px; 
}

.lecture-banner{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
 padding: 16px;
 text-align: center;
 margin-top: -25px;
 margin-bottom: 45px;
 margin-left: -50px;
 margin-right: -50px;
 background-color:#1391B9  ;
 font-size: medium;
 border-radius: 5px;
 color: #fff;
}     
/* .hori_Line{
     padding: 2px;
 background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgb(145, 140, 140), rgba(0,0,0,0)); 
 background-image: -moz-linear-gradient(left, rgba(0,0,0,0),rgb(180, 173, 173), rgba(0,0,0,0)); 
 background-image: -ms-linear-gradient(left, rgba(0,0,0,0), rgb(180, 173, 173), rgba(0,0,0,0)); 
  background-image: -o-linear-gradient(left, rgba(0,0,0,0), rgb(145, 140, 140), rgba(0,0,0,0)); 
box-shadow: 0px 1px 0px rgba(94, 92, 92, 0.918);

margin-top: -25px;
margin-bottom: 45px;
margin-left: -50px;
margin-right: -50px
} */

.upload-video-title {
  color:white;
  text-align:left;
  font-weight:600;
  padding-top:1rem;
  padding-left:1rem;
}

.course-name {
  margin-left:1rem;
}

.videoLayout {
  margin-bottom:1.6rem;
}

.break-line {
  color:white;
}

.class-videos {
  display:flex;
  flex-direction:column;

}
/* Responsive columns - one column layout (vertical) on small screens */
@media (max-width: 750px) {
  .videoLayout {
    display: inline;
    float: left;
    width: 25%;
    padding: 0 10px;
    margin-bottom: 20px;
    padding-bottom: 25px;
  }
  .course-name {
    text-align:center;
  }
}

@media screen and (max-width: 600px) {
  .videoLayout {
    display: inline;
    float: left;
    width: 35%;
    padding: 0;
    margin-bottom: 20px;
    margin-left: 60px;
    padding-bottom: 25px;
  }
}

@media screen and (max-width: 420px) {
  .videoLayout {
    display: inline;
    float: left;
    width: 50%;
    padding: 0;
    margin-bottom: 20px;
    margin-left: 120px;
    padding-bottom: 25px;
  }
}
