
body{
	background-color: #FEF9E7;
	color:#555;
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
	line-height:1.6em;
	margin:0 auto;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #2471A3;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

/*-----------------Course Page CSS ----------- */
.row-buttons {
  text-align:left;
}


.description {
  text-align:center;
}
.create-coursebutton{
  margin-bottom: 2rem;
  }
/*button.btn.btn-dark.course-button {
  color:grey;
  border: 3px solid #555;
  border-radius:30px 30px;
  font-weight:bold;
 
}*/


.card-subtitle{
  text-align: center;
}
img {
 width: 100%;
}
.course-grid {
  display:grid;
  grid-template-columns: 1fr 1fr 1fr; 
  align-items: center;
} 

.course-container {
  display: grid;
  background-color:#FEF9E7;
}

.container{
  width:80%;
	margin:20px auto;
}

#main-header{
	background-color:coral;
	color:#fff;
}

#main{
	float:left;
	width:70%;
	padding:0 30px;
	box-sizing: border-box;
}

#button {
  text-align: center;
  margin-top: 360px;
}

.btn {
  border: 1px solid #000000;
  padding: 10px 20px;
  font-size: 20px;
  font-family: "montserrat";
  cursor: pointer;
  margin: 10px;
}

.btn1,.btn2,.btn3{
  color: #3498db;
}

.btn1:hover,.btn2:hover,.btn3:hover{
  color: #3498db;
}

@media(max-width:600px){
	#main{
		width:100%;
		float:none;
	}

	#sidebar{
		width:100%;
		float:none;
	}
}


.course-card-buttons {
  text-align: center;
}
.course-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2)
}

.course-card {
  border: 2px solid #555;
 padding-top: 1rem;
 margin-top: 1rem;
  background-color: rgb(176, 209, 252);
  margin-left:3.5rem;
  border-radius:20px 20px;
  max-width: 220px;
  resize: horizontal;
  overflow: auto;
padding-bottom: 1rem;
}

.course-card-body{
  background-color:rgb(176, 209, 252);
  border: 2px solid rgb(9, 10, 92);
  border-radius:6px 6px;
}


.courseimage{
  height: 5rem;
}
div.ouseupdate, .form-group{
margin-left: 0rem;
padding-left: 0%;
}



.course-card-title:hover {
  overflow: visible;
}
.course-card-title {
  text-align:center;
  white-space: nowrap; 
  width: 100px; 
  overflow: hidden;
  text-overflow: ellipsis;

  min-width: 170px;
  display: inline-block;
  vertical-align: bottom;
}

.course-card-title input{
  float: right;
}

.card-title::first-letter{
  font-size: 150%;
}
.moreinfobutton{
 margin-bottom: 1rem;
}
button:hover{
 color: #052cadd7;
 border: #15177e solid 1px;
 background:#fff;
}
.create-deleteButton {
  margin-right:2rem; 
}
.create-deleteButton:hover{
  border: none;
  background: #f10d0d;
  color: #fff;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  position: relative;
  box-sizing: border-box;
  transition: all 500ms ease; 

  
}
create-updateButton{
  margin-right:2rem; 
 
}
.create-updateButton:hover{
  border: none;
  background: #0b45a9;
  color: #fff;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  position: relative;
  box-sizing: border-box;
  transition: all 500ms ease; 
}
  .create-coursebutton:hover{
   
   -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    background-color: #3d4393d5;
    color: #fff;
  }
  .create-coursebutton{
    background-color: rgb(252, 227, 164);
    border-radius:6px 6px;
  }



@media(max-width:1100px){

  .course-container {
    display: flex;
    flex-direction: column;
  }

  .course-grid {
    display: flex;
    flex-direction: column;
  }
  
  .course-card {
    margin:0;
    margin-bottom: 1rem;
  }

  .row-buttons {
    text-align:center;
  }
}

.link {
  color:black;
}

.link:hover {
   color: #00F
}

.container-assignment label {
  color:black;
  font-weight: bold;
}

.question label {
  font-weight: normal;
}

/*-------- RESOURSE PAGE CSS ---- */

images figcaption {
  line-height: 30px;
  border-radius: 10px;
  bottom: -100px;
  padding: 5px;
  font-weight:bold;
  font-size: medium;
  text-align: center;  
}
figcaption:hover {
  color: rgb(175, 60, 6);
}

.images{
  display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-left:3px;
    

} 

div.images img{
  border-radius: 15px;
  width: 230px;
  height: 220px;
  padding: 10px; 
 
}
.images figure {
  position: relative;
  margin-bottom: 0;
  
  
}
@media screen and (max-width: 414px) {
  div.images{
    margin:5px;
   display: grid;
   grid-template-columns: 1fr;
   row-gap: 4px;
      
  }
  .images figure {
      text-align: center;
  }
}
