
body{
	background-color: #FEF9E7;
	color:#555;
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
	line-height:1.6em;
	margin:0 auto;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #2471A3;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.course-details {
  float:right;
  margin:1rem;
}
.row-buttons {
  text-align:right;
}
.course-card {
  border: 3px solid #555;
  padding:2rem;
  margin:2rem;
  background-color: #F7DC6F;
  margin-left:3.5rem;
  border-radius:30px 30px;
  max-width: 250px;

}

.description {
  text-align:center;
}

.course-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2)
}

button.btn.btn-dark.course-button {
  color:grey;
  border: 3px solid #555;
  border-radius:30px 30px;
  font-weight:bold;
}

.card-title {
  text-align:center;
}
.card-subtitle{
  text-align: center;
}

img {
 width: 100%;
}

.course-grid {
  display:grid;
  grid-template-columns: 1fr 1fr 1fr; 
  align-items: center;
} 

.course-container {
  display: grid;
  background-color:#FEF9E7;
}

.course-details-container {
  display: grid;
  background-color:green;
  grid-template-rows: 1fr 1fr;
}


.container {
  width:80%;
  margin:20px auto;
}

#main-header{
	background-color:coral;
	color:#fff;
}

#main{
	float:left;
	width:70%;
	padding:0 30px;
	box-sizing: border-box;
}

#button {
  text-align: center;
  margin-top: 360px;
}

.btn {
  border: 1px solid #000000;
  padding: 10px 20px;
  font-size: 20px;
  font-family: "montserrat";
  cursor: pointer;
  margin: 10px;
}

.btn1,.btn2,.btn3{
  color: #3498db;
}

.btn1:hover,.btn2:hover,.btn3:hover{
  color: #3498db;
}
/* Course details page styling starts */

.lecture-details {
  background-color:pink;
}

.lectures-title {
  text-align:center;
  color:white;
  font-size:24px;
}

/* Course details page styling ends */

@media(max-width:600px){
	#main{
		width:100%;
		float:none;
	}

	#sidebar{
		width:100%;
		float:none;
	}
}

.modal-body {
  border: 2px solid #555;
  /* box-shadow: 3px 7px #888888;  */
  /* background-color:#dee2e6; */
  background-color:lightgrey;
  border-radius:5px 5px;
}

.course-card-buttons {
  text-align: center;
}

.deleteButton {
  margin-right:2rem;
}

.card-body {
  background-color:gainsboro;
  border: 2px solid #555;
  border-radius:8px 8px;
}


@media(max-width:1100px){

  .course-container {
    display: flex;
    flex-direction: column;
  }

  .course-grid {
    display: flex;
    flex-direction: column;
  }
  
  .course-card {
    margin:0;
  }

  .row-buttons {
    text-align:center;
  }
}

.link {
  color:black;
}

.link:hover {
   color: #00F
}

.container-assignment label {
  color:black;
  font-weight: bold;
}

.question label {
  font-weight: normal;
}

/*-------- RESOURSE PAGE CSS ---- */

images figcaption {
  line-height: 30px;
  border-radius: 10px;
  bottom: -100px;
  padding: 5px;
  font-weight:bold;
  font-size: medium;
  text-align: center;  
}
figcaption:hover {
  color: rgb(175, 60, 6);
}

.images{
  display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-left:3px;
    

} 

div.images img{
  border-radius: 15px;
  width: 230px;
  height: 220px;
  padding: 10px; 
 
}
.images figure {
  position: relative;
  margin-bottom: 0;
  
  
}
@media screen and (max-width: 414px) {
  div.images{
    margin:5px;
   display: grid;
   grid-template-columns: 1fr;
   row-gap: 4px;
      
  }
  .images figure {
      text-align: center;
  }
}
